 *{box-sizing: border-box;
}

 body{
     margin: 0;
     font-size: 15px;
 }
 
 header h2{
    width: 100%;
    text-align: center;
    line-height: 1.3em;
    border:1px solid black ;
    margin: 0 auto;
    padding: 1.6rem;
    background: #2d3945;
    color: ghostwhite;
    margin-bottom: 2rem;
}
form h2{
    font-size: 1.6rem;
}

legend{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 5px ;
    font-weight: bold;
}
hr{
    border-top: 1px black solid;
    width: 100%;
}
hr:last-child{
    border-top: 2px black solid;
}

fieldset{
    width: 100%;
    margin: 0 auto;
    border: none;
    
}
label{
    font-size: 1.3rem;
    opacity: 90%;
    color: grey;
    display: block;
}
input,select,textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 1.2rem;
    padding: 1rem;
    background: #eff0f1;
    border-radius: 5px;
    border: none;
    
}
input:focus{
    border: darkblue;
    padding: 1rem;
    font-size: 1.5rem;
}
input::placeholder{
    text-align: right;
    opacity: 80%;
    font-size: .9rem;
}

input[id="postal"]{
    width: 40%;
    margin-bottom: 40px;
}
button{
    width: 100%;
    background: #53bab3;
    border: lightblue 1px solid;
    color: ghostwhite;
    padding: 1em;
    margin-top: 1em;
    font-size: 1.3rem;
    border-radius: 15px;
}
select{
    color: grey;
    text-align: left;
}
footer{
    height: 400px;
}
footer p{
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    font-size: 1em;
    color: grey;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.info{
    text-align: center;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 3px;
    color: gray;
    opacity: 90%;
    border-bottom: 3px solid black ;
    padding-bottom: 1.8em;
}
.form2 h2{
    margin-top:10px ;
}
.form2 .info{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 1em;
    text-align: left;
}
.form2 label{
    width: 50%;
}
.check{
    font-size: 1.2em;
    display:inline-block;
    width: 15%;
} 

.form2 label{
    width: 50%;
}

.space{
    margin-top: 1rem;
    font-size: 1.2rem;
}

@media (min-width: 768px){
    .container{
        width: 75%;
        margin: auto;
    }
    input,label,select{
        display: inline-block;
    }
    label{
        width: 25%;
    }
    input{
        width :70%;
    }
    select{
        width: 60%;
        margin-left: 3em;
    }
    input[id="postal"]{
        width: 25%;
    }

}
